<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <h1 style="text-align:center;color: blue; font-size: 50px;" ><%= movie.title %> </h1>    
    <table style="width:40%" align="center">
        <tr>
            <td><b>RATING:</b></td>
            <td><%= movie.rating ? movie.rating:null %></td>
        </tr>
        <tr>
            <td><b>AWARDS:</b></td>
            <td><%= movie.awards ? movie.awards:null %></td>
        </tr>
        <tr>
            <td><b>LENGTH:</b></td>
            <td><%= movie.length + ' min' ? movie.length + ' min':null %></td>
        </tr>
        <tr>
            <td><b>RELEASE DATE:</b></td>
            <td><%= movie.release_date ? movie.release_date:null  %></td>
        </tr>
        <tr>
            <td><b>GENERO:</b></td>
            <td><%= movie.genre_id ? movie.generos.name:null %> </td>
        </tr>
        <tr>
            <td><b>ACTORES:</b></td>
            <td>    <ul class="lista_actores">
                <% for (let i=0;i<movie.actores.length;i++){%>
                    <li>
                        <%=movie.actores[i].first_name%><%=' '%><%=movie.actores[i].last_name%>
                    </li>
                <% } %>
            </ul> </td>
        </tr>
      </table>
    <br>
    <section class="opciones_pelicula">

            <a href="/"class="botonVolver">Home</a>

        <% if(locals.userRol==1){ %>
            <a href="/movies/edit/<%=movie.id%>"class="botonModificar">Modificar</a>

            <a href="/movies/delete/<%=movie.id%>"class="botonBorrar">Borrar</a>
        <%}%>

    </section>

</body>
</html>